<div *ngIf="teamDetails" class="team-page-item d-flex justify-content-center flex-column">
  <div class="text-center team-list-name">  {{teamDetails.name}} </div>
  <img
    src="{{teamDetails.logo}}"
    class="team-page-logo ">
</div>
<div *ngIf="teamBets" class="team-page-item d-flex justify-content-center flex-column">
  <h2 class="text-center">Bets of the team {{teamDetails.name}}</h2>
  <div *ngFor="let betItem of teamBets">
    <app-bet-item [item]="betItem"></app-bet-item>
  </div>

</div>
